.git
**/.git
.github
.gitignore
.dockerignore
.DS_Store
Thumbs.db
**/.DS_Store
**/Thumbs.db

README.md
docs/

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.local/
**/.local/

bin/
build/
dist/
**/dist/
coverage/
**/coverage/
logs/
**/logs/
*.log
*.pid

.cache/
.docker/
**/.cache/
**/.docker/

node_modules/
**/node_modules/
.nuxtrc
.nuxt/
.output/
.nitro/
.vite/
**/.nuxtrc
**/.nuxt/
**/.output/
**/.nitro/
**/.vite/
*.tsbuildinfo
.eslintcache
.nyc_output/
**/.eslintcache
**/.nyc_output/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
